body{
    filter: contrast(100%) saturate(150%) brightness(100%);
    /* filter: contrast(100%) saturate(150%) brightness(60%);  */
    overflow: hidden;
    font-size: .975rem;
    letter-spacing: .2px;
    
    
}

/*that is currently Firefox-only */
* {
  scrollbar-width: 4px;
  scrollbar-color:  grey;
  scrollbar: opacity 0.5;
  scrollbar-track-color: none;
    
  
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 4px;
  height:4px;
  color: grey;
  border-radius: 30px;
  opacity: 0.5;
}
*::-webkit-scrollbar :hover{
    width: 10px;
    height:10px;
}
*::-webkit-scrollbar-track {
  background: none;
  border-radius: 30px;
  opacity: 0.5;
}
*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 30px;
  opacity: 0.5;
  
  
}


.check{
    /* background-image: url("../images/bImg.jpg"); */
    /* background-image: url("/2.jpeg"); */
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.pixel15{
    border-radius:0px 15px 15px 0px;

}
.nobackground{
    background-color: transparent !important;
    /* border: none; */
    /* background: transparent !important; */
    
}
.noborder{
    border:none;
}
.navwidth{
    width:250px;
}
.noscrollX{
    overflow-x: hidden;
}

.color-nav-menu{
    background-color: none;
    
    filter: contrast(100%) saturate(100%) brightness(70%);
}
#vnav{
    filter: brightness(100%) saturate(100%) contrast(120%) opacity(1) ;

    z-index:2;
    height: 100%;
    background:none;
    
    /* transform: rotateX(180deg); */
    /* float: left; */
    /* width: 100px; */
    /* background-color: darkblue; */
}
.zIndex{
    z-index:2;
}
.zIndex3{
    z-index:3;
}
#brand {
    /* padding: 20px; */

}
.black{
    color:black;
}
.colornav{
    background-color: rgb(3, 2, 88);
}
.orange-color{
    color:orange;
    
}

.text-decor:focus{
    background-color: rgb(60, 112, 60);
    color: white;
    text-decoration: none;
}
.text-decor:hover{
    background-color: rgb(40, 40, 82);
    color: white;
    text-decoration: none;
}




.dropbtn {
    background-color: rgb(3, 2, 88);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  
  .dropright {
    position: relative;
    display: inline-block;
  }
  
  .dropright-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropright-content > a {
    margin-left: 3px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropright-content> a:hover { color: black;}

.dropright:hover > .dropright-content {display: inline-block; z-index: 11;}

.dropright:hover .dropbtn {background-color: #7e807e;}

.overflow-visualHeight{
    
    height:100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4;
}

.darkwhite{
    background-color: rgb(211, 208, 208);
}
.overflows{
    overflow-wrap: break-word;
    overflow-y: scroll;
    
}
.gridref{
    /* height:20px; */
    display: grid;
    grid-template-columns: 20% 80%;
}
.heightcontrol{
    height: 500px;
    overflow-wrap: break-word;
    overflow-y: hidden;
    overflow-x: hidden;
}
.fullWidth{
    width:100vw
}
.opacityControl{
    opacity: 0.9;
}
.height50{
    height: 200px;
    overflow-wrap: break-word;
    /* overflow: scroll; */
}
.hnavbartop{
    top:100px;
}
.grey{
    background-color: #cecece;
}
.height30{
    height:30px;
}

.top{
    margin-top:80px;
}
.width300{
    width:300px;
}
.dropdown-toggle::after {
    display: none;
}
.counter.counter-lg {
    top: -10px !important;
    left:-20px !important;
    border-radius: 100%;
}
.noborder{
    border:none;
}
.white{
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .975rem;
    font-weight: bolder;
    letter-spacing: .2px;
    /* color: black;
     */
     background: red;
     color:white;
    text-decoration-color: rgb(255, 255, 255);
    text-align: left;
    filter: saturate(200%) brightness(400%) contrast(200%);
    /* text-shadow: 0 1px 2px rgb(255, 255, 255); */
}
